@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,600&display=swap");
* {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
body{
  background: #F8F9FB;
}
.text-black {
  color: #000;
}
/* login page */
.login-page_wrapper {
  background: #F8F9FB;
    height: 100vh;
    color: #2D2D2D;
}


.login-page_wrapper .input-group   {
  background-color: #fff;
}
.login-page_wrapper .carousel img {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  object-fit: cover;
  filter: brightness(0.95);
}
.login-content_wrapper {
  max-width: 452px;
}
.login_page_input-group {
  border-radius: 5px;
  border: 1px solid #e4e4e4;
  width: 100%;
  height: 48px;
  flex-shrink: 0;
  color: #adadad;
}
.login_page_carousel-text {
  color: #e1e1e1;
}
.login-item-text {
  width: 650px;
  color: #8a8a8a;
  font-weight: 400;
  line-height: 192.761%; /* 28.914px */
}
@media (min-width: 992px) {
  .login-page_wrapper .carousel img {
    min-height: 100vh;
    height: 100%;
    object-fit: cover;
    border-radius: 0px 100px 100px 0px;
  }
}
.login-button,
.login-button:hover {
  border-radius: 40px;
background: linear-gradient(270deg, #EEB64F -12.41%, #9F212C 93.73%);
box-shadow: 0px 4px 8px 0px rgba(159, 33, 44, 0.25);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 125% */
color: #fff !important;
height: 50px;
}
.carousel-control-prev,
.carousel-control-next {
  display: none;
}

.login-page_wrapper hr {
  border-top: 1px solid #e4e4e4;
  opacity: 1;
}

/* login verify page */

.otp-inputs input {
  border-radius: 5px;
  border: 1px solid #e4e4e4;
  background: #fff;
  box-shadow: 0px 0px 17px 0px #f3f3f3;
  width: 58px;
  height: 58px;
  flex-shrink: 0;
  text-align: center;
  color: #4b4a4a;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 16px */
  margin-right: 10px;
}



.sidebar-nav{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
}

.sidebar-link-text{
  color: #F0A437 !important;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16.2px; /* 163.636% */
  letter-spacing: 0.9px;
  text-transform: uppercase;
  margin-top: 30px;
}

.text-main{
  color: #A0222C;
}

.dashboard-card-title{
  color: #71717A;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;

}


.dashboard-inputs .form-control,.dashboard-inputs select{
border-radius: 3.6px;
border: 0.9px solid #E3E3E3;
background: #FBFBFB;
height: 36px;
min-width: 200px;
}

.card{
  border-radius: 9.729px;
  border: 1px solid #E4E4E7;
}

.dt-length label{
  margin-left: 10px;
}

.users-badge{
  border-radius: 13.475px;
  background: #FAE7E8;
  color: #9F212C;
  font-size: 10px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  font-size: 10.107px;
font-style: normal;
font-weight: 500;
}

.card-style-4{
  border-radius: 13.475px;

}

table.dataTable th.dt-type-numeric, table.dataTable th.dt-type-date, table.dataTable td.dt-type-numeric, table.dataTable td.dt-type-date{
  text-align: start !important;
}

table tr td{
  color: #767676;
}
.custom-btn{
  border-radius: 31.224px;
background: linear-gradient(270deg, #EEB64F -12.41%, #9F212C 93.73%);
color: #fff !important;
display: flex;
width: 185px;
height: 43.713px;
padding: 14.831px 92.89px;
justify-content: center;
align-items: center;
gap: 7.806px;
flex-shrink: 0;
}

.dashboard-card-item__card1{
  border-radius: 8px;
border: 0.973px solid #921ED9;
background: #F9EFFF;
}
.dashboard-card-item__card2{
  border-radius: 9.729px;
  border: 0.973px solid #03F;
  background: #EBEFFF;
}
.dashboard-card-item__card3{
  border-radius: 9.729px;
border: 0.973px solid #F28E1E;
background: #FFEDD9;
}
.dashboard-card-item__card4{
  border-radius: 9.729px;
border: 0.973px solid #57C822;
background: #EFFFE8;
}
.dashboard-card-item__card5{
  border-radius: 9.729px;
  border: 0.973px solid #86C5C4;
  background: #EBF8F8;
}




/* thank-you-page */

.thank-you-page{
  background: #F8F9FB;
  height: 100vh;
}

body{
  background: #F8F9FB;
}
.showroom-manager-page_store-name_warpper{
  background: linear-gradient(78deg, #9F212C 5.52%, #C4843E 105.18%);
}
.showroom-manager-page_store-name{
  color: #FFF;
  /* font-family: "DM Sans"; */
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 40px */
  text-transform: uppercase;
}

.showroom-manager-page_card li{
  margin-bottom: 10px;
}

.showroom-manager-page_card{
height: 402px;
}
.fc-col-header {
  background-color: #E4E4E4;
}
.fc .fc-col-header-cell-cushion {
  padding: 10px !important;
}

.custom-date-input{
  border-radius: 4px;
border: 1px solid #DDE4F3;
background: #FFF;
width: fit-content;
height: 48px;
padding-left: 10px;
flex-shrink: 0;
}
.custom-date-input input{
  border: none;
  outline: none;
  padding-left: 15px;
  color: #2D2D2D;
}
.custom-date-input input::placeholder{
  color: #2D2D2D;
}
#calendar {
    max-width: 1200px;
    margin: 40px auto;
    background: #fff;
    padding: 15px;
    position: relative;

}
#calendar a{
  text-decoration: none;
  color: #323232;
}
.fc-button{
  background: #9F212C !important;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  text-transform: uppercase !important;
  opacity: 1;
}



.enter-attendance-table{
  max-height: 500px;
  overflow: auto;
}



.enter-attendance-table table{
  border-radius: 4px;
border: 1px solid #DDE4F3;
background: #FFF;
}

/* .header .header-right button {
  border: none;
} */

.fc-day-sun a { color:#FF2B00 !important; }
.fc-day-sat a { color:#FF2B00 !important; }

.fc-col-header-cell.fc-day-sun a, .fc-col-header-cell.fc-day-sat a{
  color: #323232 !important;
}
.fc .fc-daygrid-day-number {
font-weight: 500;
}
.fc-event-title{
  font-size: 12px;
}
.SumoSelect>.optWrapper.multiple>.MultiControls>p.btnOk{
    background: #9F212C !important;
    color: #fff;
}

.SumoSelect>.optWrapper.multiple>.MultiControls>p.btnCancel{
  background: #9F212C !important;
  color: #fff;
}
/* 
.showroom-manager-page table {
  border-collapse: collapse;
}
.showroom-manager-page td,.showroom-manager-page th {
  border: none; 
}
.showroom-manager-page td {
  border-left: 1px solid #DDE4F3;
} */

.card {
  border-radius: 5px;
  border: 1px solid #E4E4E7;
  box-shadow: 0px 16px 25px rgba(0, 0, 0, 0.05);
  } 



  .fc-button.fc-today-button{
    background: linear-gradient(78deg, #9F212C 5.52%, #C4843E 105.18%) !important;
    padding: 5px 20px !important;
    font-weight: 500;
 }
.fc-button.fc-prev-button, .fc-button.fc-next-button{
    background: linear-gradient(to bottom right, #9F212C, #EEB64F) !important;
    padding: 0px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.fc .fc-button .fc-icon {
    font-size: 1.8em !important;
}

.fc-button-group button {
  border-radius: 50px !important;
  margin: 5px !important;
  width: 35px;
  height: 35px;
  line-height: 1;
  font-size: 19px;
  }
.calendar_wrapper{
  position: relative;
}
.fc .fc-toolbar{
    width: calc(100% - 230px);
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    justify-content: flex-end;
    gap: 10px;
}
.calendar_wrapper .input-group{
  position: absolute;
  top: 15px;
  z-index: 1;
  left: 15px;
}
 


.fc-daygrid-day-top {
  direction: rtl;
  }

  a.fc-event.fc-event-draggable.fc-event-resizable.fc-event-start.fc-event-end.fc-event-past.fc-daygrid-event.fc-daygrid-block-event.fc-h-event {
    border-radius: 15px;
    text-align: center;
    font-weight: 500;
 }





 ::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(200,200,200,1);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #A8A3A3;
  -webkit-box-shadow: inset 0 0 6px rgba(90,90,90,0.7);
}


.enter-attendance-table{
  margin-top: 10px;
}
.enter-attendance-table input[type="checkbox"]{
  border-radius: 1.924px;
border: 0.962px solid #A9A9A9;
background: #F8F9FB;
height: 18px;
width: 18px;
accent-color: #9F212C;

}

.sidebar-nav-wrapper .sidebar-nav ul .nav-item a{
  color: #fff;
}
.sidebar-nav-wrapper .sidebar-nav ul .nav-item a:hover{
  color: #F0A437 !important;
}

.sidebar-nav-wrapper .nav-item-has-children.active li a{
  color: #9F212C !important;
  font-weight: 500;
  opacity: 1;
}

.sidebar-nav-wrapper .nav-item-has-children.active li a:hover{
  color: #9F212C !important;
}

.fc-h-event .fc-event-title-container {
text-align: center;
}

.fc .fc-daygrid-event{
  border-radius: 15px;
}

.SumoSelect>.CaptionCont>span.placeholder{
  background-color: transparent !important;
  color: #000 !important;
}

.SumoSelect .select-all{
  height: unset !important;
}





.SumoSelect{
  width: 100% !important;
}
















/* add-new-employee */

.nav-item .text {
  font-size: 12px;
}

.employee-onboarding .card .card{
  border: 0.9px solid #E3E3E3;
  background-color: #FBFBFB;
  color: #101828;
}
.employee-onboarding .card .form-check{
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: 20px;
}
.employee-onboarding .card .form-check label{
  margin-bottom: 0px;
  color: #101828 !important;

}
.employee-onboarding .form-check-input:disabled~.form-check-label, .form-check-input[disabled]~.form-check-label{
  opacity: 1;
}
.employee-onboarding .card .form-check-input{
  width: 30px;
  height: 30px;
  border: 1px solid #E3E3E3;
  border-radius: 3.6px 0px 0px 0px;
  border: 0.9px solid #E3E3E3;
}
.employee-onboarding .card .form-check-input:disabled{
  opacity: 1;
}
.employee-onboarding .input-card{
margin-top: 5px;
}
@media (min-width:992px) {
  .employee-onboarding .input-card{
    padding: 20px 80px;
  }
}
.employee-onboarding .card label{
  color: #101828;
  margin-bottom: 5px;
}
.employee-onboarding .card .form-control,.employee-onboarding .card .form-select{
  border: 0.9px solid #E3E3E3;
  background-color: #fff;
  color: #101828;
  height: 40px;
  border-radius: 3.6px 0px 0px 0px;
}
.employee-onboarding .input-card .form-control:disabled, .employee-onboarding .input-card .form-select:disabled,  .employee-onboarding .input-card input:disabled{
  background-color: #E3E3E3 !important;
}


@media (max-width: 767px) {
  .main-wrapper .container-fluid.employee-onboarding {
      padding-left: 10px;
      padding-right: 10px;
  }
}









/* .employee-onboarding */


/* .employee-onboarding .table input[type="checkbox"]:checked {
  background-color: #f78d1e;
}
.employee-onboarding table input[type="checkbox"]:checked:after {
  content: "\2713";
  font-size: 16px;
  color: white;
  font-weight: bold;
} */
/* .employee-onboarding table input[type="checkbox"] {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 24px !important;
  height: 24px !important;
  appearance: none;
  border-radius: 10%;
  border: 1px solid #f78d1e;
  accent-color: #9F212C;
  box-shadow: none;
  font-size: 1em;
  margin: auto;
} */

/* .employee-onboarding table.dataTable thead th,
.employee-onboarding table.dataTable thead td {
  border-bottom: none !important;
} */
input[type="checkbox"]{
  accent-color:#9F212C !important;
}
.employee-onboarding .card input[type="checkbox"]{
  accent-color:#9F212C !important;
  width: 26px;
  height: 26px;
  border-radius: 3.6px 0px 0px 0px;

}
.employee-onboarding .card .submit-btn{
  border: 1px solid #C4843E !important;
  color: #C4843E !important;
  background-color: #fff !important;
}
.employee-onboarding button{
  border: 1px solid #E3E3E3 !important;
  background-color:#fff;
}
.received.active{
  border: 1px solid #E3E3E3 !important;
  background: #17A500 !important;
  color: #fff !important;
}
.not-received.active{
  border: 1px solid #9F212C !important;
  background-color:#9F212C !important;
  color: #fff !important;
}
.employee-onboarding table.dataTable td.dt-control:before {
  display: none !important;
}

.employee-onboarding td.dt-control {
  cursor: pointer;
}

table.dataTable > tbody > tr:first-child > *,div.dt-container.dt-empty-footer tbody > tr:last-child > *{
 padding-bottom: 20px !important;
}
.employee-onboarding tbody .card{
  border-top: 1px solid #C4843E !important;
  box-shadow: 0px 4px 20px 0px #AEAEAE75;
  border-radius: 8px;
}
.employee-onboarding td{
  padding:10px !important;
}
.employee-onboarding .details-control button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  background-color: transparent;
  color: #000;
  border: 1px solid #cecece !important;
  border-radius: 4px;
  cursor: pointer;
}

.employee-onboarding .details-control button .icon {
  margin-left: 5px;
}

.employee-onboarding .shown .icon {
  transform: rotate(90deg);
}

.employee-onboarding table.dataTable th.dt-type-numeric,
.employee-onboarding table.dataTable th.dt-type-date,
.employee-onboarding table.dataTable td.dt-type-numeric,
.employee-onboarding table.dataTable td.dt-type-date {
  text-align: center !important;
}

.employee-onboarding .table thead th,
.employee-onboarding .table td {
  text-align: center !important;
  /* font-size: 14px; */
}


.employee-onboarding .table .table tr th{
  border-top: 1px solid #C4843E !important;
  padding: 10px;
}

.employee-onboarding .table .table tr th{
  color: #2D2D2D;
}

.employee-onboarding .table .table tr td{
  color: #2D2D2D;
  border: 1px solid #E4E7EC;
}
input[type='radio'] + label{
  border: 1px solid #E3E3E3 !important;
  background: #fff !important;
  color: #667085 !important;
}
input[type='radio']:checked + label.received{
  border: 1px solid #E3E3E3 !important;
  background: #17A500 !important;
  color: #fff !important;
}
input[type='radio']:checked + label.not-received{
  border: 1px solid #9F212C !important;
  background-color:#9F212C !important;
  color: #fff !important;
}
.table input[type='radio']:disabled + label{
  opacity: .4;
  background-color: #FFF !important;

}

.employee-onboarding .card input:disabled, .employee-onboarding .card select:disabled,.employee-onboarding .card button:disabled{
  opacity: .4;
}